h1{
    color :aquamarine;
    background-color : chocolate;
    border-color: black blue;
}

p{
    text-align: justify;
}

.p1{
    font-size: large;
}

#nose{
    background-color: brown;
}

a[href="https://twitter.com/nbuna_staff?lang=en"]{
    color :chartreuse;
}
