
body{
    background-image : url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7e6829bc-6b2d-46f2-9210-1f3c1bf8e66d/ddufv09-68f27e36-090d-4a4c-b9e8-59fcfce26ae7.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdlNjgyOWJjLTZiMmQtNDZmMi05MjEwLTFmM2MxYmY4ZTY2ZFwvZGR1ZnYwOS02OGYyN2UzNi0wOTBkLTRhNGMtYjllOC01OWZjZmNlMjZhZTcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6eJdq1crdHePRvUw9yJ-c4_ZFSt2vZ8mRqVuVZK3W0g');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}