p{
    text-align: justify;
}

.p1{
    font-size: large;
}

#col-md-auto col-lg-10{
    size: 20;
}

a[href="https://twitter.com/nbuna_staff?lang=en"]{
    color :chartreuse;
}

body{
    background-image : url('https://images.genius.com/7ea006f56aeacd6e760019552a2a826b.1000x1000x1.jpg');
}